*.zip
Json key sorter.py
gtm.json
Star Technology Korean Translation Pack
StarT Korean Translation(for modpack)/**/en_us.json
StarT Korean Translation(for mods)/**/en_us.json
StarT Korean Translation(for StarT Core)/**/en_us.json
TODO.md
StarT Korean Translation Integrated
